@use 'variables' as v;
@use 'mixins' as m;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10px = 1rem */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuenteParrafos;
    font-size: 1.6rem;
    min-height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5;
    text-align: justify;
}

ul {
    @include m.reset-lista;
}

section {
    @include m.contenedor;
}

.mt {
    margin-top: 25rem !important;

    @include m.tablet {
        margin-top: 18rem !important
    }
}